.spoiler {
      background-color: white;
      color: transparent;
      border: 1px dashed white;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      user-select: none;
      transition: color 0.3s;
    }

    .spoiler.revealed {
      color: black;
    }